@keyframes RainBow {
    0% {color: yellow;}
    5% {color: orange;}
    10% {color: red;}
    15% {color: blue}
    25% {color: blueviolet}
    30% {color: navy}
    35% {color: orangered}
}

.wel {
    color: blue;
    width: 1590px;
    border: 1px solid orange;
    background-color: aqua;
    animation-iteration-count:infinite;
    animation-name: RainBow;
    animation-duration: 1s;
    position: relative;
    right: 24px;
    bottom: 22px;
    text-align: center;
}